:root {
  --seg-width: 25%;
  --animation-duration: 10s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: yellow;
}

.container {
  width: 80vw;
  height: 100px;
  margin-left: 10vw;
  margin-top: 40px;
}

.ribbon {
  min-width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.segment {
  width: var(--seg-width);
  position: absolute;
  left: calc(-1 * var(--seg-width));
  top: 0;
  background-color: black;
  border: 2px solid yellow;
  padding: 0 10px;
  animation: var(--animation-duration) moveAccross infinite linear;
  overflow: hidden;
}

@keyframes moveAccross {
  from {
    left: calc(-1 * var(--seg-width));
  }
  to {
    left: 100%;
  }
}
